<div id="container">
  <div class="title">Faneva : A/C ANDRIAMIHAJA Joelson Emile</div>
  <div class="configuration">
    <div>
      <div style="font-weight: bold">4/4</div>
      <div style="font-weight: bold">Do dia E</div>
      <div style="font-weight: bold">Tempo : 110bpm</div>
      <div class="swing">
        <span style="font-weight: bold">Swing</span>
        <span style="font-size: 0.7em"
          >(vakiana hoe "d.-.d" ny "d.d" sy ny "d.,d")</span
        >
      </div>
    </div>
  </div>

  <div class="note">
    <table>
      <tbody>
        <tr>
          <td style="font-style: italic; font-size: 0.7em"></td>
          <td style="font-style: italic; font-size: 0.7em"></td>
          <td style="font-style: italic; font-size: 0.7em"></td>
          <td style="font-style: italic; font-size: 0.7em"></td>
        </tr>
        <tr>
          <td style="min-width: 10px; text-align: center">-</td>
          <td style="text-align: center; min-width: 10px">:</td>
          <td style="min-width: 10px; text-align: center">-</td>
          <td style="text-align: center; min-width: 10px">|</td>
          <td style="min-width: 10px; text-align: center">-</td>
          <td style="text-align: center; min-width: 10px">:</td>
          <td style="min-width: 10px; text-align: center">
            -.s<sub style="line-height: 0; font-size: 8px; font-style: italic"
              >1</sub
            >
          </td>
        </tr>
        <tr>
          <td style="min-width: 10px; text-align: center"></td>
          <td style="text-align: center; min-width: 10px">:</td>
          <td style="min-width: 10px; text-align: center"></td>
          <td style="text-align: center; min-width: 10px">|</td>
          <td style="min-width: 10px; text-align: center"></td>
          <td style="text-align: center; min-width: 10px">:</td>
          <td style="min-width: 10px; text-align: center">
            .s<sub style="line-height: 0; font-size: 8px; font-style: italic"
              >1</sub
            >
          </td>
        </tr>
        <tr>
          <td style="min-width: 10px; text-align: center"></td>
          <td style="text-align: center; min-width: 10px">:</td>
          <td style="min-width: 10px; text-align: center"></td>
          <td style="text-align: center; min-width: 10px">|</td>
          <td style="min-width: 10px; text-align: center"></td>
          <td style="text-align: center; min-width: 10px">:</td>
          <td style="min-width: 10px; text-align: center">.m</td>
        </tr>
        <tr>
          <td style="min-width: 10px; text-align: center"></td>
          <td style="text-align: center; min-width: 10px">:</td>
          <td style="min-width: 10px; text-align: center"></td>
          <td style="text-align: center; min-width: 10px">|</td>
          <td style="min-width: 10px; text-align: center"></td>
          <td style="text-align: center; min-width: 10px">:</td>
          <td style="min-width: 10px; text-align: center">.d</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td style="font-size: 12px; font-style: oblique">Dia</td>
        </tr>
      </tbody>
    </table>

    <table>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td style="min-width: 10px; text-align: center">
            s<sub style="line-height: 0; font-size: 8px; font-style: italic"
              >1</sub
            >.m
          </td>
          <td style="text-align: center; min-width: 10px">:</td>
          <td style="min-width: 10px; text-align: center">r.d</td>
          <td style="text-align: center; min-width: 10px">|</td>
          <td style="min-width: 10px; text-align: center">
            l<sub style="line-height: 0; font-size: 8px; font-style: italic"
              >1</sub
            >.s<sub style="line-height: 0; font-size: 8px; font-style: italic"
              >1</sub
            >
          </td>
          <td style="text-align: center; min-width: 10px">:</td>
          <td style="min-width: 10px; text-align: center">
            fi<sub style="line-height: 0; font-size: 8px; font-style: italic"
              >1</sub
            >.s<sub style="line-height: 0; font-size: 8px; font-style: italic"
              >1</sub
            >
          </td>
        </tr>
        <tr>
          <td style="min-width: 10px; text-align: center">
            s<sub style="line-height: 0; font-size: 8px; font-style: italic"
              >1</sub
            >.d
          </td>
          <td style="text-align: center; min-width: 10px">:</td>
          <td style="min-width: 10px; text-align: center">
            l<sub style="line-height: 0; font-size: 8px; font-style: italic"
              >1</sub
            >.s<sub style="line-height: 0; font-size: 8px; font-style: italic"
              >1</sub
            >
          </td>
          <td style="text-align: center; min-width: 10px">|</td>
          <td style="min-width: 10px; text-align: center">
            s<sub style="line-height: 0; font-size: 8px; font-style: italic"
              >1</sub
            >.s<sub style="line-height: 0; font-size: 8px; font-style: italic"
              >1</sub
            >
          </td>
          <td style="text-align: center; min-width: 10px">:</td>
          <td style="min-width: 10px; text-align: center">
            s<sub style="line-height: 0; font-size: 8px; font-style: italic"
              >1</sub
            >.s<sub style="line-height: 0; font-size: 8px; font-style: italic"
              >1</sub
            >
          </td>
        </tr>
        <tr>
          <td style="min-width: 10px; text-align: center">m.s</td>
          <td style="text-align: center; min-width: 10px">:</td>
          <td style="min-width: 10px; text-align: center">f.m</td>
          <td style="text-align: center; min-width: 10px">|</td>
          <td style="min-width: 10px; text-align: center">m.m</td>
          <td style="text-align: center; min-width: 10px">:</td>
          <td style="min-width: 10px; text-align: center">m.m</td>
        </tr>
        <tr>
          <td style="min-width: 10px; text-align: center">d.d</td>
          <td style="text-align: center; min-width: 10px">:</td>
          <td style="min-width: 10px; text-align: center">d.d</td>
          <td style="text-align: center; min-width: 10px">|</td>
          <td style="min-width: 10px; text-align: center">d.d</td>
          <td style="text-align: center; min-width: 10px">:</td>
          <td style="min-width: 10px; text-align: center">d.d</td>
        </tr>
        <tr>
          <td style="font-size: 12px; font-style: oblique">Faly</td>
          <td style="font-size: 12px; font-style: oblique"></td>
          <td style="font-size: 12px; font-style: oblique">symi -</td>
          <td style="font-size: 12px; font-style: oblique"></td>
          <td style="font-size: 12px; font-style: oblique">deraa -</td>
          <td style="font-size: 12px; font-style: oblique"></td>
          <td style="font-size: 12px; font-style: oblique">rymi -</td>
        </tr>
      </tbody>
    </table>
    <table style="border-collapse: collapse; margin: 10px 0 0 0">
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td style="min-width: 10px; text-align: center">d.m</td>
          <td style="text-align: center; min-width: 10px">:</td>
          <td style="min-width: 10px; text-align: center">r.d</td>
          <td style="text-align: center; min-width: 10px">|</td>
          <td style="min-width: 10px; text-align: center">r</td>
          <td style="text-align: center; min-width: 10px">:</td>
          <td style="min-width: 10px; text-align: center">-.r</td>
        </tr>
        <tr>
          <td style="min-width: 10px; text-align: center">
            s<sub style="line-height: 0; font-size: 8px; font-style: italic"
              >1</sub
            >.d
          </td>
          <td style="text-align: center; min-width: 10px">:</td>
          <td style="min-width: 10px; text-align: center">
            l<sub style="line-height: 0; font-size: 8px; font-style: italic"
              >1</sub
            >.l<sub style="line-height: 0; font-size: 8px; font-style: italic"
              >1</sub
            >
          </td>
          <td style="text-align: center; min-width: 10px">|</td>
          <td style="min-width: 10px; text-align: center">
            t<sub style="line-height: 0; font-size: 8px; font-style: italic"
              >1</sub
            >
          </td>
          <td style="text-align: center; min-width: 10px">:</td>
          <td style="min-width: 10px; text-align: center">
            -.t<sub style="line-height: 0; font-size: 8px; font-style: italic"
              >1</sub
            >
          </td>
        </tr>
        <tr>
          <td style="min-width: 10px; text-align: center">m.s</td>
          <td style="text-align: center; min-width: 10px">:</td>
          <td style="min-width: 10px; text-align: center">fi.fi</td>
          <td style="text-align: center; min-width: 10px">|</td>
          <td style="min-width: 10px; text-align: center">s</td>
          <td style="text-align: center; min-width: 10px">:</td>
          <td style="min-width: 10px; text-align: center">-.s</td>
        </tr>
        <tr>
          <td style="min-width: 10px; text-align: center">d.d</td>
          <td style="text-align: center; min-width: 10px">:</td>
          <td style="min-width: 10px; text-align: center">
            m<sub style="line-height: 0; font-size: 8px; font-style: italic"
              >1</sub
            >.f<sub style="line-height: 0; font-size: 8px; font-style: italic"
              >1</sub
            >
          </td>
          <td style="text-align: center; min-width: 10px">|</td>
          <td style="min-width: 10px; text-align: center">
            s<sub style="line-height: 0; font-size: 8px; font-style: italic"
              >1</sub
            >
          </td>
          <td style="text-align: center; min-width: 10px">:</td>
          <td style="min-width: 10px; text-align: center">
            -.s<sub style="line-height: 0; font-size: 8px; font-style: italic"
              >1</sub
            >
          </td>
        </tr>
        <tr>
          <td style="font-size: 12px; font-style: oblique">sao-</td>
          <td style="font-size: 12px; font-style: oblique"></td>
          <td style="font-size: 12px; font-style: oblique">tranao -</td>
          <td style="font-size: 12px; font-style: oblique"></td>
          <td style="font-size: 12px; font-style: oblique">ryRay</td>
          <td style="font-size: 12px; font-style: oblique"></td>
          <td style="font-size: 12px; font-style: oblique">Satri -</td>
        </tr>
      </tbody>
    </table>
    <table style="border-collapse: collapse; margin: 10px 0 0 0">
      <tbody>
        <tr>
          <td style="font-style: italic; font-size: 0.7em"></td>

          <td style="font-style: italic; font-size: 0.7em"></td>

          <td style="font-style: italic; font-size: 0.7em"></td>

          <td style="font-style: italic; font-size: 0.7em"></td>
        </tr>
        <tr>
          <td style="min-width: 10px; text-align: center">r.r</td>
          <td style="text-align: center; min-width: 10px">:</td>
          <td style="min-width: 10px; text-align: center">m.f</td>
          <td style="text-align: center; min-width: 10px">|</td>
          <td style="min-width: 10px; text-align: center">s.m</td>
          <td style="text-align: center; min-width: 10px">:</td>
          <td style="min-width: 10px; text-align: center">
            d.t<sub style="line-height: 0; font-size: 8px; font-style: italic"
              >1</sub
            >
          </td>
        </tr>
        <tr>
          <td style="min-width: 10px; text-align: center">
            t<sub style="line-height: 0; font-size: 8px; font-style: italic"
              >1</sub
            >.t<sub style="line-height: 0; font-size: 8px; font-style: italic"
              >1</sub
            >
          </td>
          <td style="text-align: center; min-width: 10px">:</td>
          <td style="min-width: 10px; text-align: center">d.r</td>
          <td style="text-align: center; min-width: 10px">|</td>
          <td style="min-width: 10px; text-align: center">m.d</td>
          <td style="text-align: center; min-width: 10px">:</td>
          <td style="min-width: 10px; text-align: center">d.d</td>
        </tr>
        <tr>
          <td style="min-width: 10px; text-align: center">s.s</td>
          <td style="text-align: center; min-width: 10px">:</td>
          <td style="min-width: 10px; text-align: center">l.t</td>
          <td style="text-align: center; min-width: 10px">|</td>
          <td style="min-width: 10px; text-align: center">
            d<sup style="line-height: 0; font-size: 8px; font-style: italic"
              >1</sup
            >.s
          </td>
          <td style="text-align: center; min-width: 10px">:</td>
          <td style="min-width: 10px; text-align: center">m.m</td>
        </tr>
        <tr>
          <td style="min-width: 10px; text-align: center">
            s<sub style="line-height: 0; font-size: 8px; font-style: italic"
              >1</sub
            >.s<sub style="line-height: 0; font-size: 8px; font-style: italic"
              >1</sub
            >
          </td>
          <td style="text-align: center; min-width: 10px">:</td>
          <td style="min-width: 10px; text-align: center">
            l<sub style="line-height: 0; font-size: 8px; font-style: italic"
              >1</sub
            >.t<sub style="line-height: 0; font-size: 8px; font-style: italic"
              >1</sub
            >
          </td>
          <td style="text-align: center; min-width: 10px">|</td>
          <td style="min-width: 10px; text-align: center">d.d</td>
          <td style="text-align: center; min-width: 10px">:</td>
          <td style="min-width: 10px; text-align: center">d.d</td>
        </tr>
        <tr>
          <td style="font-size: 12px; font-style: oblique">sao-</td>
          <td style="font-size: 12px; font-style: oblique"></td>
          <td style="font-size: 12px; font-style: oblique">tranao -</td>
          <td style="font-size: 12px; font-style: oblique"></td>
          <td style="font-size: 12px; font-style: oblique">ryRay</td>
          <td style="font-size: 12px; font-style: oblique"></td>
          <td style="font-size: 12px; font-style: oblique">Sa - </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
