<div class="container">
  <button class="toggle" (click)="toggleSideBar()">OK</button>
  <div>
    <div class="chat__message">
      <ul>
        <li>
          <a routerLink="/chat"> Chats </a>
        </li>
        <li>
          <a routerLink="/call">Call</a>
        </li>
        <li>Status</li>
      </ul>
    </div>
    <div class="chat__settings">
      <ul>
        <li>Starred message</li>
        <li>Archived chats</li>

        <li class="setting">Settings</li>
        <li>Profile</li>
      </ul>
    </div>
  </div>
</div>
