<mat-stepper orientation="vertical">
  <mat-step *ngFor="let field of fields; let i = index">
    <ng-template matStepLabel=""> --------( {{ i + 1 }} )------- </ng-template>

    <ng-template matStepContent>
      <mat-form-field class="example-full-width">
        <mat-label>Date</mat-label>
        <input matInput placeholder="Type here the date" [(ngModel)]="field.date"/>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Your Company Name</mat-label>
        <input matInput placeholder="Type here the name of your company " [(ngModel)]="field.company" />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Your position</mat-label>
        <input matInput placeholder="Type here your position" [(ngModel)] = "field.position" />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Description</mat-label>
        <input matInput placeholder="The description" [(ngModel)]="field.description"/>
      </mat-form-field>
      <br/>
      <button
        mat-button
        (click)="removeField(i)"
        style="color: #e06524; background: #edebef; font-size: 34px"
      >
        -
      </button>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
   
    </ng-template>
  </mat-step>
</mat-stepper>
<button
  mat-button
  (click)="addField()"
  style="background: #edebef; font-size: 23px"
>
  +
</button>
