.container {
  color: #b0b3aa;
  padding: 20px;
  background-color: #282c34;
  border-radius: 12px;
  max-width: 100%;
  margin: auto;
  overflow-y: scroll;
  height: 560px;
}

.discussion {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 150px;
}

.message {
  padding: 17px;
  margin-top: 5px;
  border-radius: 25px;
  font-size: 14px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}

.person_01 {
  color: white;
  grid-column: 1;
  background: blueviolet;
}

.person_02 {
  color: white;
  grid-column: 2;
  background: green;
  margin-top: 100px;
}

.person_01:nth-child(odd) {
  grid-row: auto;
}

.person_01:nth-child(even) {
  grid-row: auto;
}

.person_02:nth-child(odd) {
  grid-row: auto;
}

.person_02:nth-child(even) {
  grid-row: auto;
}

.sender {
  font-weight: bold;
}

.content {
  margin-left: 5px;
}
